# Virtual Environment
venv/

# Environment Variables
.env

# Firebase Credentials
secrets/
*.json

# Python Cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Generated QR Codes
generate_qr/

# Python distributions
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/